﻿@model ProyectoNetCore.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3> Esta Seguro que desea Eliminar el Registro ?</h3>
<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaID" />
        <input type="submit" value="Borrar" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
